.brick {
	width:25%;

	img {
		width:100%;
		display:block;
	}
}

.brick-sizer {
	width:25%;
}

.input {
	background: $white;
	font-family: $font-family-1;
	padding: $space;
	border: 0;
	border-radius: 5px;
	font-size: 1.143rem;
	color: $dark-gray;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	outline: 0;
	width:100%;
	display:block;
}

.input:disabled {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	color: $gray;
	background: $light-gray;
}

.select {
	background: $white;
	display:inline-block;
	position: relative;
	border-radius: 5px;
}

.select-arrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid $gray;

	position: absolute;
  	top: 50%;
  	right:0;
  	transform: translateY(-50%);
}

.autocomplete-suggestions {
	margin-top:-5px;
	background: $lightest-gray;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	border-top:1px solid $light-gray;
}

.autocomplete-suggestion {
	padding:$space*.5 $space;
}

.autocomplete-suggestions .autocomplete-suggestion:last-of-type {
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
}

.autocomplete-selected {
	background: $light-gray;
}

.hide-md {
	display: block;
}

.show-md {
	display:none;
}

.show-sm {
	display:none;
}

@media all and (max-width: 768px) {
	.hide-md {
		display: none;
	}

	.show-md {
		display:block;
	}
}

@media all and (max-width: 450px) {
	.hide-sm {
		display:none;
	}
	.show-sm {
		display:block;
	}
}

form {
	text-align: left;
}

form a {
	color: $white;
}