// Colors
$darkest-gray: #454747;
$dark-gray: #636363;
$gray: #BABABA;
$light-gray: #EFEFEF;
$lightest-gray: #FDFDFD;

$seafoam: #98C2AE;

$white: #fff;
$black: #000;

// Typography 
$font-family-1: "proxima-nova-soft", sans-serif;
$font-family-2: sans-serif;
$base-font-size: 21px;
$base-line-height: 1.5;
$base-color: $dark-gray;
$base-link-color: $seafoam;
$base-link-hover-color: $seafoam;

// Margins and Padding
$space:1rem;